.user-list-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: start;  
}

.user-list-container > div {
    flex: 1 0 250px; /* flex-grow: 1, flex-shrink: 0, flex-basis: 250px */
    border: 1px solid red;
    max-width: 350px;
    min-width: 250px;
}